@model IEnumerable<Prettyprinter.Models.File>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.ActionLink("Name", "Index", "File", new { sortName = ViewBag.sortName == null ? 1 : ViewBag.sortName })
                </th>
                <th>
                    Last Modified
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{
    var attributes = new Dictionary<string, object>();
    attributes.Add("Id", "postActionForm");
}
@using (Html.BeginForm("Index", "File", FormMethod.Post, attributes))
{
    @Html.Hidden("id", null)
    @Html.Hidden("action", null)
    @Html.Hidden("actionParameter", null)
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    <button type="button" id="r+@item._id" name="@item.name" onclick="renameFile(this.id, this.name)">Rename</button> 
                    <button type="button" id="d+@item._id" name="@item.name" onclick="deleteFile(this.id, this.name)">Delete</button> 
                    <button type="button" id="m+@item._id" name="@item.name" onclick="moveFile(this.id, this.name)">onclick="">Move</button>
                </td>
            </tr>
    }
}
@{
    var delAttributes = new Dictionary<string, object>();
    delAttributes.Add("Id", "postDeleteForm");
}
@using (Html.BeginForm("Delete", "File", FormMethod.Post, delAttributes))
{
    @Html.Hidden("deleteId", null)
}
</tbody>
</table>
<script type="text/javascript">
    function renameFile(id, originalFileName){
        var fileName = prompt("What would you like to rename the file to?", originalFileName);
        if (fileName != null && fileName != "") {
            var hiddenId = document.getElementById("id");
            hiddenId.value = id.substring(2);
            var hiddenAction = document.getElementById("action");
            hiddenAction.value = "rename"
            var hiddenInput = document.getElementById("actionParameter");
            hiddenInput.value = fileName;
            document.getElementById("postActionForm").submit();
        }
    }
    function deleteFile(id, fileName) {
        var fileName = confirm("Are you sure you want to delete the file - " + fileName + " ?");
        if (fileName == true) {
            var hiddenId = document.getElementById("deleteId");
            hiddenId.value = id.substring(2);
            document.getElementById("postDeleteForm").submit();
        }
    }

    function moveFile(id, fileName) {
        // prompt user for new filepath
        var newFilename = prompt("Input a new fileName path: ");

        // proceed if user input something
        if (newFilename != 0 && newFilename != "") {
            // confirmation to proceed
            var fileName = confirm("Are you sure you want to move the file - " + fileName + " ?");
            if (fileName == true) {
                // get the value of the moce element
                var hiddenAction = document.getElementById("move");
                hiddenAction.value = "moves"
                hiddenInput.value = newFilename;
                document.getElementById("postMoveForm").submit();
            }
        }
    }


</script>