@model IEnumerable<Prettyprinter.Models.Folder>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Index";
    if (ViewBag.Path == null)
    {
        ViewBag.Path = "Root";
    }
}

<br />
<span >   
    <img src="~/images/directory.png" style="width:25px;height:25px" />&nbsp
    Current Directory: </span><span style="text-transform:uppercase;font-size:15px;font-weight:bold;text-decoration:underline">@ViewBag.Path</span>
<p>
    @{
        var createAttributes = new Dictionary<string, object>();
        createAttributes.Add("Id", "postCreateForm");
    }
    @using (Html.BeginForm("Create", "Document", FormMethod.Post, createAttributes))
    {
        @Html.Hidden("docName", null)
        @Html.Hidden("creationPath", (string)ViewBag.ServerPath)
        @Html.Hidden("isFile", 0)
        @Html.Hidden("permission", true)
    }
    @if (ViewBag.Path != "Root/SHARED")
    {
        <!-- Create folder & Create file buttons -->
        <button type="button"  onclick="createDocs(0)"   style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;font-weight:bold;background-color:gainsboro;color:black;box-shadow:initial"> + Create New Folder</button> <span class="text-nowrap">&nbsp&nbsp</span>
        <button type="button" onclick="createDocs(1)"   style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;font-weight:bold;background-color:gainsboro;color:black;box-shadow:initial"> + Create New File</button>
    }
</p>
<table class="table">

    <!-- Table headers -->
    <thead style="margin:0;padding:0;background-color:lightgray;">
        <tr>
            <th>
                Name
            </th>
            <th>
                Operations <img src="~/images/operations.png" style="width:25px;height:25px" />
            </th>
            <th>
                @if (ViewBag.Path != "Root/SHARED")
                {
                    <div>Date Created</div>
                }
                else
                {
                    <div>Date Shared</div>


                }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="background-color:lightyellow;">

        <!-- Only display shared folder at Root -->
        @if (ViewBag.Path == "Root")
    {
        <tr>

            <td style="align-content:center">

                <img src="~/images/sharedfolder.png" style="width:50px;height:50px" />

                <span style="font-weight:bolder">  @Html.ActionLink("Shared Folder", "Index", "Document", new { param = "SHARED", id = ViewBag.user + ".SHARED" }, null)</span>

            </td>


            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
        </tr>
}



        @{
        var attributes = new Dictionary<string, object>();
        attributes.Add("Id", "postActionForm");
        }
        @using (Html.BeginForm("Index", "Document", FormMethod.Post, attributes))
    {
        @Html.Hidden("id", null)
        @Html.Hidden("action", null)
        @Html.Hidden("actionParameter", null)
        @foreach (var item in Model)
    {
        <tr>
            <td style="align-content:center">
                <!-- Appropriate images for the documents -->
                @if (item.type == 0)
    {
            <img src="~/images/folder.png" style="width:50px;height:50px" />
}
else
{
            <img src="~/images/Filetype.png" style="width:50px;height:50px" />}

                <!-- Appropriate controller links -->
                @if (item.type == 0)
    {
            <span style="font-weight:bolder">
                @Html.ActionLink(item.Name, "Index", "Document", new { param = item.Name, id = item._id }, null)
            </span>
}
else
{
            <span style="font-weight:bolder">
                @Html.ActionLink(item.Name, "openFile", "TypeSetter")
            </span>
}
            </td>


            <td style="vertical-align:middle">

                @if (ViewBag.Path != "Root/SHARED")
    {
            <button type="button" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;font-weight:bold;background-color:gainsboro;color:black;box-shadow:initial" id="r+@item._id" name="@item.Name" onclick="renameFile(this.id, this.name)">RENAME</button>
            <span>&nbsp</span><button type="button" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;font-weight:bold;background-color:gainsboro;color:black;box-shadow:initial" id="d+@item._id" name="@item.Name" onclick="deleteFile(this.id, this.name, @item.type)">DELETE</button>
            @if (item.type == 1)
{
            <span>&nbsp</span><button type="button" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;font-weight:bold;background-color:gainsboro;color:black;box-shadow:initial" id="@item._id" name="@item.Name" onclick="moveFile(this.id, this.name)">MOVE</button>
            <span>&nbsp</span><button type="button" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;font-weight:bold;background-color:gainsboro;color:black;box-shadow:initial" id="@item._id" name="@item.Name" onclick="copyFile(this.id, this.name)">COPY</button>
            <span>&nbsp</span><button type="button" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;font-weight:bold;background-color:gainsboro;color:black;box-shadow:initial" id="@item._id" name="@item.Name" onclick="shareFile(this.id, this.name)">SHARE</button>
}
}
           // READ ONLY TEXT with no operations 
                else
                {

                <div style="color:red">Read Only</div>
                }
            </td>
            <td style="vertical-align:middle">
                <span style="font-weight:bolder"> @Html.DisplayFor(modelItem => item.Date)</span>
            </td>
        </tr>
}
}
        @{
        var deleteAttributes = new Dictionary<string, object>();
        deleteAttributes.Add("Id", "postDeleteForm");
        }
        @using (Html.BeginForm("Delete", "Document", FormMethod.Post, deleteAttributes))
    {
        @Html.Hidden("deleteId", null)
        @Html.Hidden("itemType", 0)
}

        @{
        var moveAttributes = new Dictionary<string, object>();
        moveAttributes.Add("Id", "postMoveForm");
        }
        @using (Html.BeginForm("Move", "Document", FormMethod.Post, moveAttributes))
    {
        @Html.Hidden("moveId", null)
        @Html.Hidden("movePath", null)
}

        @{
        var copyAttributes = new Dictionary<string, object>();
        copyAttributes.Add("Id", "postCopyForm");
        }
        @using (Html.BeginForm("Copy", "Document", FormMethod.Post, moveAttributes))
    {
        @Html.Hidden("copyId", null)
        @Html.Hidden("copyPath", null)
}

        @{
        var renameAttributes = new Dictionary<string, object>();
        renameAttributes.Add("Id", "postRenameForm");
        }
        @using (Html.BeginForm("Rename", "Document", FormMethod.Post, renameAttributes))
    {
        @Html.Hidden("renameId", null)
        @Html.Hidden("newName", null)

}

        @{
        var shareAttributes = new Dictionary<string, object>();
        shareAttributes.Add("Id", "postShareForm");
        }
        @using (Html.BeginForm("Share", "Document", FormMethod.Post, shareAttributes))
    {
        @Html.Hidden("userId", null)
        @Html.Hidden("fileId", null)
        @Html.Hidden("fileName", null)
}



        </tbodystyle="background-color:lightyellow;">
</table>
<script type="text/javascript">
    function createDocs(type) {
        var isFile = document.getElementById("isFile");
        if (type == 0) {
            var name = prompt("What would you like to name the new folder?");
            isFile.value = 0;
        }
        else {
            var name = prompt("What would you like to name the new file?");
            isFile.value = 1;
        }
        if (name != null && name != "") {
            var newDocName = document.getElementById("docName");
            newDocName.value = name;
            document.getElementById("postCreateForm").submit();
        }
    }
    function renameFile(id, originalFileName) {
        var fileName = prompt("What would you like to rename the file to?", originalFileName);
        if (fileName != null && fileName != "" && fileName.length != 0) {
            var renameId = document.getElementById("renameId");
            renameId.value = id.substring(2);
            var renameName = document.getElementById("newName");
            renameName.value = fileName;
            document.getElementById("postRenameForm").submit();
        }
    }
    function deleteFile(id, fileName, itemType) {
        var fileName = confirm("Are you sure you want to delete the file - " + fileName + " ?");
        if (fileName == true) {
            var hiddenId = document.getElementById("deleteId");
            hiddenId.value = id.substring(2);

            var itemType = document.getElementById("itemType");
            itemType.value = itemType;

            document.getElementById("postDeleteForm").submit();
        }
    }
    function moveFile(id, fileName) {
        // prompt user for new filepath
        var newFilename = prompt("Input a new fileName path to move to: ");

        // proceed if user input something
        if (newFilename != 0 && newFilename != "") {
            // confirmation to proceed
            var fileName = confirm("Are you sure you want to move the file - " + fileName + " ?");
            if (fileName == true) {
                // get the value of the moce element
                var hiddenPath = document.getElementById("movePath");
                hiddenPath.value = newFilename;
                var hiddenId = document.getElementById("moveId");
                hiddenId.value = id;
                document.getElementById("postMoveForm").submit();
            }
        }
    }
    function copyFile(id, fileName) {
        // prompt user for new filepath
        var newFilename = prompt("Input a new fileName path to copy to: ");

        // proceed if user input something
        if (newFilename != 0 && newFilename != "") {
            // confirmation to proceed
            var fileName = confirm("Are you sure you want to copy the file - " + fileName + " ?");
            if (fileName == true) {
                // get the value of the moce element
                var hiddenPath = document.getElementById("copyPath");
                hiddenPath.value = newFilename;
                var hiddenId = document.getElementById("copyId");
                hiddenId.value = id;
                document.getElementById("postCopyForm").submit();
            }
        }
    }

    function shareFile(id, fileName) {
        // prompt user for new filepath
        var newFilename = prompt("Enter username to share to: ");

        // proceed if user input something
        if (newFilename != 0 && newFilename != "") {
            // confirmation to proceed
            var fileName2 = confirm("Are you sure you want to share this file - " + fileName + " ?");
            if (fileName2 == true) {
                // get the value of the moce element
                var hiddenPath = document.getElementById("userId");
                hiddenPath.value = newFilename;
                var hiddenId = document.getElementById("fileId");
                hiddenId.value = id;
                var hiddenName = document.getElementById("fileName");
                hiddenName.value = fileName; 
                document.getElementById("postShareForm").submit();
            }
        }
    }



</script>
