@model IEnumerable<Prettyprinter.Models.Folder>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Index";
    if (ViewBag.Path == null)
    {
        ViewBag.Path = "Root";
    }
}


<h3 style="text-transform:uppercase">@ViewBag.Path</h3>
<p>
    @{
        var createAttributes = new Dictionary<string, object>();
        createAttributes.Add("Id", "postCreateForm");
    }
    @using (Html.BeginForm("Create", "Folder", FormMethod.Post, createAttributes))
    {
        @Html.Hidden("folderName", null)
        @Html.Hidden("creationPath", (string)ViewBag.ServerPath)
    }

    <button type="button" onclick="createFolder()">Create New Folder</button> |
    @Html.ActionLink("Create New File", "Create", "File", new { path = ViewBag.ServerPath })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Parent ID
            </th>
            <th>
                Type
            </th>
            <th>
                Operations
            </th>
            <th>
                Date Created
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
        var attributes = new Dictionary<string, object>();
        attributes.Add("Id", "postActionForm");
        }
        @using (Html.BeginForm("Index", "Folder", FormMethod.Post, attributes))
    {
        @Html.Hidden("id", null)
        @Html.Hidden("action", null)
        @Html.Hidden("actionParameter", null)
        @foreach (var item in Model)
    {
        <tr>
            <td style="align-content:center">
                @if (item.type.Equals("folder"))
            {
                <img src="~/images/folder.png" style="width:50px;height:50px" />
        }
        else
        {
            <img src="~/images/Filetype.png" style="width:50px;height:50px" />}
                &nbsp;

                @Html.ActionLink(item.name, "Index", "Folder", new { param = item.name, id = item._id }, null)

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.parentId)
            </td>
            <td style="vertical-align:middle">
                <div style="text-transform:uppercase"> @Html.DisplayFor(modelItem => item.type)</div>
            </td>
            <td style="vertical-align:middle">
                <button type="button" id="r+@item._id" name="@item.name" onclick="renameFile(this.id, this.name)">Rename</button>
                <button type="button" id="d+@item._id" name="@item.name" onclick="deleteFile(this.id, this.name)">Delete</button>
                @if (item.type.Equals("file"))
            {
                <button type="button" id="@item._id" name="@item.name" onclick="moveFile(this.id, this.name)">Move</button>
                <button type="button" id="@item._id" name="@item.name" onclick="copyFile(this.id, this.name)">Copy</button>
        }
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.date)
            </td>
        </tr>
}
}
        @{
        var deleteAttributes = new Dictionary<string, object>();
        deleteAttributes.Add("Id", "postDeleteForm");
        }
        @using (Html.BeginForm("Delete", "Folder", FormMethod.Post, deleteAttributes))
    {
        @Html.Hidden("deleteId", null)
}

        @{
        var moveAttributes = new Dictionary<string, object>();
        moveAttributes.Add("Id", "postMoveForm");
        }
        @using (Html.BeginForm("Move", "Folder", FormMethod.Post, moveAttributes))
    {
        @Html.Hidden("moveId", null)
        @Html.Hidden("movePath", null)
}

        @{
        var copyAttributes = new Dictionary<string, object>();
        copyAttributes.Add("Id", "postCopyForm");
        }
        @using (Html.BeginForm("Copy", "Folder", FormMethod.Post, moveAttributes))
    {
        @Html.Hidden("copyId", null)
        @Html.Hidden("copyPath", null)
}

        @{
        var renameAttributes = new Dictionary<string, object>();
        renameAttributes.Add("Id", "postRenameForm");
        }
        @using (Html.BeginForm("Rename", "Folder", FormMethod.Post, renameAttributes))
    {
        @Html.Hidden("renameId", null)
        @Html.Hidden("newName", null)

}


    </tbody>
</table>
<script type="text/javascript">
    function createFolder() {
        var folderName = prompt("What would you like to name the new folder?");
        if (folderName != null && folderName != "") {
            var newFolderName = document.getElementById("folderName");
            newFolderName.value = folderName;
            document.getElementById("postCreateForm").submit();
        }
    }
    function renameFile(id, originalFileName) {
        var fileName = prompt("What would you like to rename the file to?", originalFileName);
        if (fileName != null && fileName != "" && fileName.length != 0) {
            var renameId = document.getElementById("renameId");
            renameId.value = id.substring(2);
            var renameName = document.getElementById("newName");
            renameName.value = fileName;
            document.getElementById("postRenameForm").submit();
        }
    }
    function deleteFile(id, fileName) {
        var fileName = confirm("Are you sure you want to delete the file - " + fileName + " ?");
        if (fileName == true) {
            var hiddenId = document.getElementById("deleteId");
            hiddenId.value = id.substring(2);
            document.getElementById("postDeleteForm").submit();
        }
    }
    function moveFile(id, fileName) {
        // prompt user for new filepath
        var newFilename = prompt("Input a new fileName path to move to: ");

        // proceed if user input something
        if (newFilename != 0 && newFilename != "") {
            // confirmation to proceed
            var fileName = confirm("Are you sure you want to move the file - " + fileName + " ?");
            if (fileName == true) {
                // get the value of the moce element
                var hiddenPath = document.getElementById("movePath");
                hiddenPath.value = newFilename;
                var hiddenId = document.getElementById("moveId");
                hiddenId.value = id;
                document.getElementById("postMoveForm").submit();
            }
        }
    }
    function copyFile(id, fileName) {
        // prompt user for new filepath
        var newFilename = prompt("Input a new fileName path to copy to: ");

        // proceed if user input something
        if (newFilename != 0 && newFilename != "") {
            // confirmation to proceed
            var fileName = confirm("Are you sure you want to copy the file - " + fileName + " ?");
            if (fileName == true) {
                // get the value of the moce element
                var hiddenPath = document.getElementById("copyPath");
                hiddenPath.value = newFilename;
                var hiddenId = document.getElementById("copyId");
                hiddenId.value = id;
                document.getElementById("postCopyForm").submit();
            }
        }
    }
</script>
