@model IEnumerable<Prettyprinter.Models.Folder>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Index";
    if (ViewBag.Path == null)
    {
        ViewBag.Path = "Root";
    }
}


<h2>Index</h2>
<p>
    @{
        var createAttributes = new Dictionary<string, object>();
        createAttributes.Add("Id", "postCreateForm");
    }
    @using (Html.BeginForm("Create", "Folder", FormMethod.Post, createAttributes))
    {
        @Html.Hidden("folderName", null)
    }

    <button type="button" onclick="createFolder()">Create New Folder</button> |
    @Html.ActionLink("Create New File", "Create", "File", new { path = ViewBag.Path, newFile = true })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Parent ID
            </th>
            <th>
                Type
            </th>
            <th>
                Date Created
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var attributes = new Dictionary<string, object>();
            attributes.Add("Id", "postActionForm");
        }
        @using (Html.BeginForm("Index", "Folder", FormMethod.Post, attributes))
        {
            @Html.Hidden("id", null)
            @Html.Hidden("action", null)
            @Html.Hidden("actionParameter", null)
            @foreach (var item in Model)
            {
                
                <tr>
                    <td style="align-content:center">
                        <img src="~/images/Filetype.png" style="width:50px;height:50px" /><br />
                       @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td style="vertical-align:middle">
                       @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td style="vertical-align:middle">
                        <button type="button" id="r+@item._id" name="@item.name" onclick="renameFile(this.id, this.name)">Rename</button>
                        <button type="button" id="d+@item._id" name="@item.name" onclick="deleteFile(this.id, this.name)">Delete</button>
                        @if (item.type.Equals("file"))
                        {
                            <button type="button" id="m+@item._id" onclick="">Move</button>
                            <button type="button" id="m+@item._id" onclick="">Copy</button>
                        }
                    </td>
                    <td style="vertical-align:middle">
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                </tr>
            }
        }
        @{
            var delAttributes = new Dictionary<string, object>();
            delAttributes.Add("Id", "postDeleteForm");
        }
        @using (Html.BeginForm("Delete", "Folder", FormMethod.Post, delAttributes))
        {
            @Html.Hidden("deleteId", null)
        }

    </tbody>
</table>
<script type="text/javascript">
    function createFolder() {
        var folderName = prompt("What would you like to name the new folder?");
        if (folderName != null && folderName != "") {
            var creationPath = document.getElementById("folderName");
            creationPath.value = folderName;
            document.getElementById("postCreateForm").submit();
        }
    }
    function renameFile(id, originalFileName) {
        var fileName = prompt("What would you like to rename the file to?", originalFileName);
        if (fileName != null && fileName != "") {
            var hiddenId = document.getElementById("id");
            hiddenId.value = id.substring(2);
            var hiddenAction = document.getElementById("action");
            hiddenAction.value = "rename"
            var hiddenInput = document.getElementById("actionParameter");
            hiddenInput.value = fileName;
            document.getElementById("postActionForm").submit();
        }
    }
    function deleteFile(id, fileName) {
        var fileName = confirm("Are you sure you want to delete the file - " + fileName + " ?");
        if (fileName == true) {
            var hiddenId = document.getElementById("deleteId");
            hiddenId.value = id.substring(2);
            document.getElementById("postDeleteForm").submit();
        }
    }
</script>
