@model ProjectWebApplication.Models.Account

@{
    ViewData["Title"] = "UserProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link rel="stylesheet" href="~/css/userProfile.css" />
<h2>User Profile</h2>

<div>
    <hr />
    <div class="user-profile">
        <div class="col-lg-12 col-md-12" style="margin-bottom:5%;">
            <div class="col-lg-1 col-md-1">
                &nbsp;
            </div>
            <div class="profile-pic-container col-lg-6 col-md-6">
                <img class="user-profile-pic" src=@Html.DisplayFor(model => model.DisplayPicURL) alt="Profile Picture" />
            </div>
            <div class="user-details col-md-5">
                <h1 id="user-name">@Html.DisplayFor(model => model.Name)</h1>
                <div id="user-title" style="margin-bottom:15%;">@Html.DisplayFor(model => model.Title)</div>
                <div>Birthday: <span id="user-birthday">@Html.DisplayFor(model => model.Birthday)</span></div>
                <div class="user-email" id="user-email">E-mail: @Html.DisplayFor(model => model.Email)</div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="col-lg-3 col-md-3">
                &nbsp;
            </div>
            <div class="user-bio col-lg-7 col-md-7">
                <h3>Bio:</h3>
                <p>
                    @Html.DisplayFor(model => model.Bio)
                </p>
            </div>
            <div class="col-lg-2 col-md-2">
                &nbsp;
            </div>
        </div>
    </div>
</div>
<div class="button-row">
    <button>Reset Password</button>
    <button value="Edit" onclick="location.href='@Url.Action("EditProfile", "Account", new { email = Model.Email })'">Edit</button>
    <!--@Html.ActionLink("Edit", "EditProfile", new { email = Model.Email })-->
</div>