@model Prettyprinter.Models.Folder

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Folder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.parent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.parent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model._id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
